<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>

  <h1>ESGTrader</h1>
  <p><a href="/stocks">View All Stocks</a></p>
  <p><a href="/investors">View All Investors</a></p>
  <p><a href="/transactions">View All Transactions</a></p>
  <p><a href="/holdings">View All Holdings</a></p>
  <p><a href="/portfolios">View All Portfolios</a></p>
  <p><a href="/risk_metrics">View All Risk Metrics</a></p>
  <p><a href="/macro_data">View All Macro Data</a></p>
  <p><a href="/stock_prices">View All Stock Prices</a></p>
  <p><a href="/esg_scores">View All ESG Scores</a></p>


  
  <h1>Some famous Computer Scientists</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<p><a href="another">Go to the other page</a></p>

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
